// BLOG PAGE STYLES

.blog-flex-wrapper {
    display: flex;
    justify-content: space-between;
    padding: 100px 0;
}

.aside-group {
    display: flex;
    flex-direction: column;
    width: 33.333%;
    height: 100%;
    margin: 0 40px 20px 0;
    &__image {
        margin-bottom: 20px;
    }
}

.main-content-group {
    display: flex;
    flex-direction: column;
    width: 66.666%;
}

.comment {
    &__profile-image {
        margin-right: 20px;
        width: 100px;
        min-width: 100px;
        margin-top: 25px;

    }
}

.container {
    background-color: $white;
    padding: 40px;
    margin-bottom: 20px;
    &--post {
        display: flex;
        flex-direction: column;
        border-bottom: 5px solid $secondary;
        margin-bottom: 30px;
    }
    &--comment {
        display: flex;
        justify-content: space-between;
        &:last-of-type {
            border-bottom: 5px solid $secondary;
            margin-bottom: 30px;
        }
    }
}

.text-block {
    &__headline {
        margin-bottom: 20px;
    }
    &__paragraph {
        margin: 15px 0;
    }
    &__paragraph--date {
        font-style: italic;
    }
    &__btn {
        @include button(auto);
        padding: 10px 30px;
        margin-top: 15px;
    }
    &__list-item {
        &::before {
            content: "•";
            margin: 0 20px 0 10px;
        }
    }
    &__link {
        font-weight: 700;
    }
    &__link--highlight {
        color: $secondary;
    }
}

.form {
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
    &__input {
        margin-bottom:20px;
        padding: 25px 40px;
        border: none;
        width: calc(50% - 7px);
        &::placeholder {
            color: $dark;
        }
        &--textarea {
            width: 100%;
            height: 295px;
            resize: none;
            padding-top: 40px;
        }
    }
    &__butn {
        @include button(100%);
        padding: 10px 30px;
        border: none;
    }
}

// MEDIA QUERIES

@media (max-width: 1005px) {
    .blog-flex-wrapper {
        flex-direction: column-reverse;
        padding: 50px 0;
    }
    .aside-group, 
    .main-content-group {
        width: 100%;
    }
    .aside-group {
        margin-top: 30px;
        margin-bottom: 0;
    }
    .aside-group .container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .text-block__link {
        display: block;
    }
    .aside-group__image {
        width: 250px;
        height: 250px;
        border-radius: 50%;
    }
    .text-block__list {
        width: 100%;
    }
    .text-block__list-item {
        text-align: left;
    }
    .comment__profile-image {
        border-radius: 50%;
    }
}

@media (max-width: 768px) {
    .form__input {
        width: 100%;
    } 
}

// END BLOG PAGE STYLES