// CONTACT PAGE STYLES 
.social {
     display: flex;
     margin-bottom: 20px;
     &__list-item {
         margin-right: 35px;
    }
     &__link {
         color: $primary;
    }
     &__icon {
         font-size: 3rem;
    }
}
 .aside-section__link {
     font-weight: 700;
}
 